.tm-checkbox {
    color: #354052;
    margin-bottom: 15px;
  }

  .tm-checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .tm-checkbox input + span {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
  }

  /** NOT CHECKED */
  .tm-checkbox input + span:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 14px;
    height: 14px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-image: linear-gradient(to top, #f2f4f7, #ffffff);
  }

  .tm-checkbox.rounded input + span:before {
    border-radius: 50%;
  }

  .tm-checkbox input + span:after {
    opacity: 0;
    content: '';
    position: absolute;
    top: 2.4px;
    left: 5.7px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .tm-checkbox.rounded input + span:after {
    content: '';
    border: none;
    position: absolute;
    top: 6px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: 0.2s;
  }

  /** CHECKED */
  .tm-checkbox input:checked + span:before {
    background: #4da1ff;
  }

  .tm-checkbox input:checked + span:after,
  .tm-checkbox.rounded input:checked + span:after {
    opacity: 1;
  }
