.first-tab {
  overflow: hidden;
}
.first-tab .tab-col + .tab-col {
  border-left: 1px solid #e8e8e8;
}

.first-tab .tab-col {
  max-width: 236px;
  padding: 45px 30px 37px;
}
.first-tab .tab-col .tm-btn {
  margin-top: 35px;
  min-width: 106px;
  padding: 8px 10px;
}

.first-tab .tab-col:hover {
  background-color: #fffae7; /* box-shadow: 2px 4px 8px 2px rgba(212, 210, 210, 0.5); */
  box-shadow: 0px 4px 8px 3px rgba(212, 210, 210, 0.5);
}
.first-tab .tab-col.selected {
  background-color: #edf5ff; /* box-shadow: 2px 4px 8px 2px rgba(212, 210, 210, 0.5); */
  box-shadow: 0px 4px 8px 3px rgba(212, 210, 210, 0.5);
}
/*.first-tab .tab-col + .tab-col:hover, .first-tab .tab-col + .tab-col.selected{box-shadow: -2px 4px 8px 2px rgba(212, 210, 210, 0.5);}*/

.tab-col {
  font-size: 15px;
  line-height: 1.47;
  color: #767676;
}
.tab-col h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #4a4a4a;
}
.tab-col.same-h-title h3 {
  min-height: 58px;
  margin-bottom: 10px;
}

.tab-col.bottom-btn {
  padding-bottom: 80px !important;
  position: relative;
}
.tab-col.bottom-btn .step-action {
  position: absolute;
  bottom: 25px;
  right: 30px;
}

.second-tab {
  width: 1130px;
}
.second-tab .tab-col {
  padding: 60px 45px 30px;
}
.second-tab .input-col {
  display: inline-block;
  width: 24%;
}

.second-tab .tab-col:first-child {
  padding-right: 100px;
}

.folder-tab {
  width: 820px;
  min-height: 450px;
  display: flex;
}
.folder-tab .tab-col {
  position: relative;
  padding: 30px;
}
.folder-tab .tab-col:first-child {
  width: 300px;
  box-shadow: 5px 2px 9px 0 rgba(0, 0, 0, 0.08);
  padding-right: 20px;
}
.folder-tab .tab-col:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.folder-tab .tab-col:last-child .col-text {
  flex: 1;
}

.folder-tab .create-folder-popup {
  position: absolute;
  top: 140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.new-folder {
  width: 330px;
}
.new-folder .input {
  width: 240px;
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
}
.new-folder .tm-btn {
  width: 80px;
  float: left;
  margin-bottom: 0;
}

/*.third-tab .tab-col{position: absolute;bottom: 20px; right: 20px;}*/

.choose-template-tab {
  width: 100%;
  max-width: 1270px;
  padding: 40px 55px;
}

.choose-template-tab h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #4a4a4a;
}

.templates-row {
  margin-left: -10px;
  margin-right: -10px;
}

.templates-row .template-box {
  width: 25%;
  float: left;
  padding: 0 10px;
}
.templates-row .template-box p {
  margin-top: 10px;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: bold;
}

.template-box .preview {
  border: 1px solid #c5d0de;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.template-box .preview img {
  vertical-align: middle;
  width: 100%;
}
.template-box .preview .template-action {
  position: absolute;
  background-color: rgba(237, 245, 255, 0.65);
  padding: 8px 0;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 25px;
  z-index: 1;
  display: none;
}
.template-box .preview:hover .template-action {
  display: block;
}
.template-box .preview .template-action .tm-btn + .tm-btn {
  margin-left: 5px;
}

.templates-row-title {
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #2ea2f8;
  font-weight: 600;
  text-align: left;
}

.choose-template-tab select,
.choose-template-tab .nice-select {
  width: 250px;
  margin: 0 5px;
  display: inline-block;
}
.choose-template-tab input {
  width: 250px;
  margin: 0 5px;
  display: inline-block;
}

.welcome-box {
  max-width: 600px;
  margin: 167px auto 0;
  text-align: center;
  color: #4a4a4a;
}
.welcome-box h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}
.welcome-box h1 img {
  vertical-align: -5px;
}
.welcome-box p {
  font-size: 24px;
  line-height: 1.88;
}

.welcome-box .tm-btn {
  padding: 15px 20px;
  font-size: 25px;
  min-width: 260px;
  margin-top: 70px;
}

.welcome-box .welcome-img {
  margin-left: 30px;
  vertical-align: -26px;
}

@media (max-height: 840px) {
  .main-tabs {
    margin-bottom: 50px;
    margin-top: 25px;
  }
}

@media (max-height: 740px) {
  .welcome-box {
    margin-top: 90px;
  }
  .choose-template-tab {
    padding: 30px;
  }
  .second-tab .tab-col {
    padding: 30px 30px 30px;
  }
  .first-tab .tab-col {
    padding: 30px 30px 30px;
  }
}
