.page {
    position: relative;
    margin: 10px 0;
    transform: scale(1);
    transform-origin: top center;
    box-shadow: 1px 3px 10px 0 #c5c5c5; 

    &__body {
        margin-left: 80px;
        margin-right: 80px;
        min-height: 800px;
        border-left: 1px dashed rgba(0, 0, 0, 0.3); 
        border-right: 1px dashed rgba(0, 0, 0, 0.3); 
        padding: 15px 15px;
    }
}