.setting-tab-inner{
    padding: 37px 21px 0;

    label {
        color: #7f8fa4; 
        font-weight: bold; 
        font-size: 1.2rem;
    }

    hr {
        margin: 12px -15px 15px;
    }

    h5 {
        font-size: 1.4rem; 
        font-weight: bold;
        color: #808fa3; margin: 0 0 8px;
    }

    .inner-checkbox{padding-left: 24px;}
}