.new-colors .add-color {
  display: inline-block;
  margin: 6px 3px 0;
  line-height: 28px;
}
.color-picker-container .hide {
  display: none;
}
.new-colors {
  margin-left: -3px;
  margin-right: -3px;
  font-size: 0;
  display: inline-block;
  line-height: 1;
}
.new-colors span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 6px 3px 0;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}
.new-colors span:hover:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.add-color {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.add-color:before {
  content: '\e906';
  font-family: 'icomoon' !important;
  position: absolute;
  top: 3px;
  left: 9px;
  font-size: 14px;
  color: #808fa3;
}

.colorpicker {
  width: 235px;
  background-color: #fff;
  padding: 17px 17px 10px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.colorpicker.show {
  display: block;
}

.colorpicker.middle-pos {
  top: -100px;
}

.color-code {
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}
.color-code #color {
  width: 77px;
  height: 22px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 0 5px;
  line-height: 20px;
  margin-left: 3px;
}

.iro__marker__outer {
  stroke-width: 2 !important;
  stroke: rgb(255, 255, 255) !important;
}
